@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <form>
        <h1 style="color:white; font-family:Calibri; text-align:center">Add New Book</h1>

        <br />
        <br />
        <div>
            <input type="text" name="bookName" style="color:white; font-family:Calibri; font-size:24px; background:border-box; width:300px" />
        </div>
        <label style="color:white; font-family:Calibri; font-size:24px">Book Name</label>
        
        <br />
        <br />
        <div>
            <input type="number" name="bookQuantity" style="color:white; font-family:Calibri; font-size:24px; background:border-box; width:300px" />
        </div>
        <label style="color:white; font-family:Calibri; font-size:24px">Book Quantity</label>

        <br />
        <br />
        <div>
            <input type="number" name="bookPrice" style="color:white; font-family:Calibri; font-size:24px; background:border-box; width:300px" />
        </div>
        <label style="color:white; font-family:Calibri; font-size:24px">Book Price</label>

        <br />
        <br />
        <div>
            <input type="checkbox" name="borrowable" style="width:25px; height:25px;" />
        </div>
        <label style="color:white; font-family:Calibri; font-size:24px">Borrowable</label>

        <br />
        <br />
        <div>
            <textarea name="bookDescription" style="color:white; font-family:Calibri; font-size:24px; background:border-box; width:300px" rows="3"></textarea>
        </div>
        <label style="color:white; font-family:Calibri; font-size:24px">Book Description</label>

        <br />
        <br />
        <div>
            <button type="submit" style="color:darkred; font-family:Calibri; font-size:24px; background-color:white; width:150px; height:50px">OK</button>
        </div>
    </form>
</div>