<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<form>
    <div class="mainformcontainer">

        <div class="inputwrap">
            <div class="inputcontainer">
                <select class="formselect" name="Book_Name">
                    <option selected> </option>
                    <option value="book1">book1</option>
                    <option value="book2">book2</option>
                    <option value="book3">book3</option>
                </select>
                <div class="formlabel">Book Name</div>
            </div>

            <div class="inputcontainer">
                <textarea class="forminput" disabled id="price" name="price"></textarea>
                <div class="formlabel">Price</div>
            </div>

            <div class="inputcontainer">
                <textarea class="forminput" disabled id="available_quantity" name="available_quantity"></textarea>
                <div class="formlabel">Available Quantity</div>
            </div>

            <div class="inputcontainer">
                <input class="forminput" type="number" id="ordered_quantity" name="ordered_quantity" />
                <div class="formlabel">Ordered Quantity</div>
            </div>

            <div class="inputcontainer">
                <textarea class="forminput" disabled id ="total_price" name="total_price"></textarea>
                <div class="formlabel">Total Price</div>
            </div>

        </div>

        <div class="submitcontainer">
            <input class="formbutton" type="submit" value="Buy">
        </div>
    </div>
</form>