@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <h1 style="text-align: center; color: White ; font-size: 40px;"> Client Information </h1>
    <br>
    <div>
        <input type="text" name="cName" id="name"
               style=" width: 300px ; height: 30px; border: 3px solid white;
            background-color: transparent;" />
        <br>
        <label for="name" style="color: White ; font-size: 20px;"> Name </label>
    </div>
    <br> <br>

    <div>
        <input type="number" name="natID" id="natID"
               style=" width: 300px ; height: 30px; border: 3px solid white;
            background-color: transparent;" />
        <br>
        <label for="natID" style="color: White ; font-size: 20px;"> National ID </label>
    </div>
    <br> <br>

    <div>
        <input type="tel" name="teleNum" id="teleNum"
               style=" width: 300px ; height: 30px; border: 3px solid white;
            background-color: transparent;" />
        <br>
        <label for="teleNum" style="color: White ; font-size: 20px;"> Telephone Number </label>
    </div>
    <br> <br>

    <div>
        <input type="email" name="email" id="email"
               style=" width: 300px ; height: 30px; border: 3px solid white;
            background-color: transparent;">
        <br>
        <label for="email" style="color: White ; font-size: 20px;">Email Address</label>
    </div>
    <br> <br>

    <div>
        <input type="text" name="homeAddress" id="homeAddress"
               style=" width: 300px ; height: 30px; border: 3px solid white;
            background-color: transparent;" />
        <br>
        <label for="homeAddress" style="color: White ; font-size: 20px;"> Home Address </label>
    </div>

    <div>
        <button type="submit"
                style="background-color: white ;
            float:right;
            border: none;
            color:rgb(124, 26, 26);
            width: 200px;
            height:60px;
            padding: 5px 10px;
            margin-right: 150px;
            text-align: center;
            font-size: 30px;
            font-weight: bold;">
            OK
        </button>
    </div>


</form>