<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client History</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<form>
    <div class="mainformcontainer">

        <div class="inputwrap">

            <div class="inputcontainer">
                <input class="forminput" type="number" id="national_id" name="national_id" />
                <div class="formlabel">National ID</div>
            </div>

            <div class="inputcontainer">
                <textarea class="forminput" disabled type="text" id="client_history" name="client_history"></textarea>
                <div class="formlabel">Client History</div>
            </div>
        </div>

        <div class="submitcontainer">
            <input class="formbutton" type="submit" value="Submit">
        </div>

    </div>
</form>




