<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Old Book Entry</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<form>
    <div class="mainformcontainer">

        <div class="inputwrap">
            <div class="inputcontainer">
                <select class="formselect" name="book_name">
                    <option selected> </option>
                    <option value="book1">book1</option>
                    <option value="book2">book2</option>
                    <option value="book3">book3</option>
                </select>
                <div class="formlabel">Book Name</div>
            </div>

            <div class="inputcontainer">
                <input class="forminput" type="number" id="book_quantity" name="book_quantity" />
                <div class="formlabel">Book Quantity</div>
            </div>

        </div>


        <div class="submitcontainer">
            <input class="formbutton" type="submit" value="OK">
        </div>

    </div>
</form>