<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Return</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<form>
    <div class="mainformcontainer">

        <div class="inputwrap">

            <div class="inputcontainer">
                <input class="forminput" type="number" id="national_id" name="national_id" />
                <div class="formlabel">National ID</div>
            </div>

            <div class="inputcontainer">
                <textarea class="forminput" disabled id="book_name" name="book_name"></textarea>
                <div class="formlabel">Book Name</div>
            </div>

            <div class="inputcontainer">
                <textarea disabled class="forminput" type="text" id="total_fine_value" name="total_fine_value"></textarea>
                <div class="formlabel">Total Fine Value</div>
            </div>
        </div>


        <div class="submitcontainer">
            <input class="formbutton" type="submit" value="Return">
        </div>
    </div>
</form>



