@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="1.html">
    <select name="Book_Names" id="Book_Names" style="width: 250px ; height: 30px;border: 2px solid white;background-color : transparent">
        <option value="book1"></option>
        <option value="book2"></option>
        <option val ue="book3"></option>
    </select>
	<p style="color:white; font-size:140%;  font-family:Arial; background-color:transparent;"> Book Name </p>

    <br>
    <div class="form-group">

        <input type="text" class="form-control " style="width: 250px ; height: 30px;border: 2px solid white;background-color : transparent"><br>
        <p style="color:white; font-size:140%;  font-family:Arial; background-color:transparent;"> Total Fine Value </p>
    </div>



	<br><br><br><br><br>

    <div class="align-right">
        <button type="submit" class="right">
            <p style="color:darkred;   font-size:140%; background-color:unset; height: 30px; width: 150px; /*margin-left:300px;*/">Return</p>
        </button>
    </div>


</form>